.quienes-somos{
    text-align: center;
    padding: 5rem; 
}
.quienes-somos__titulo{
    margin-bottom: 1rem;
    color: #8d0606;
    font-family: Pacifico,cursive;
    font-size: 3.1875rem;
}
.quienes-somos__descripcion{
    color: #595959;
    font-size: 1.75rem;
    font-weight: 100;
}
.personas{
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
}
.persona{
    display: flex;
    flex-direction: column;
}
.persona__imagen{
    height: 300px;
    width: 300px;
}
.persona__imagen img{
    border-radius: 50%;
}
.persona__nombre{
    color: #8d0606;
    margin: 1rem 0;
    font-family: Pacifico,cursive;
    font-size: 2rem;
}
.persona__funcion{
    color: #595959;
    font-size: 1.25rem;
    font-weight: 100;
}

@media screen and (min-width:0) {
    .persona{
        margin-bottom: 2rem;
    }
    .personas{
        flex-direction: column;
    }
}
@media screen and (min-width: 768px) {
    .persona{
        margin-bottom: 0;
    }
    .personas{
        flex-direction: row;
    }
}
